

#menu {
    background-color:rgb(38, 107, 211);
   
}


.header-sec .overlay{
    background:rgba(38, 107, 211, 0.829);
}


.testi-sec .overlay{
    background:rgba(38, 107, 211, 0.829);
}
 

.single-price {
    background-color:rgba(38, 107, 211, 0.829);
}
.multi-price {
    background-color:rgb(38, 107, 211);
}
/*=====================================
  FOOTER STYLES 
    ===================================*/

 .myfooter {
    background-color:rgb(38, 107, 211);
}